@model HrWebApp.Models.GetCompanyModel

@{
    ViewData["Title"] = "Companies";
}

<div class="companies-content">
    @foreach (var company in Model.Companies)
    {
        <a asp-controller="Home" asp-action="CompanyPage" asp-route-id="@company.Id">
            <div class="card text-white bg-success mb-3 companies-content_element" style="max-width: 20rem;">
                <div class="card-header"><h2>@company.Name</h2></div>
                <div class="card-body ml-3">
                    <div><span>@company.Name</span></div>
                    <div style="opacity: 0.5;">
                        <span>@company.Type - </span>
                        <span>@company.EmployeesCount employees</span>
                    </div>
                </div>
            </div>
        </a>
    }
</div>