@model HrWebApp.Models.GetCompanyModel

@{
}
<div class="CompanyPage">
    <h2>@Model.Name</h2>
    <div class="CompanyPage_header">
        <div class="CompanyPage_description">@Model.Description</div>
        <div class="CompanyPage_url">
            <a href="@Model.CompanyUrl">Visit the website</a>
        </div>
    </div>
    <div class="CompanyPage_info">
        <div>
            <span>Company type</span><br />
            <span><b>@Model.Type</b></span>
        </div>
        <div>
            <span>Sector</span><br />
            <span><b>@Model.CompanySector</b></span>
        </div>
    </div>
    <h5>Inside the company</h5>
    <div class="CompanyPage_insideCompany">
        <div>
            <span>Creation year</span><br/>
            <span><b>@Model.CompanyDateOfCreation</b></span>
        </div>
        <div>
            <span>Location</span><br />
            <span><b>@Model.CompanyLocation</b></span>
        </div>
        <div>
            <span>Employees</span><br />
            <span><b>@Model.EmployeesCount Employees</b></span>
        </div>
    </div>
    <div class="recruiter-company_body_jobs">
        @foreach (var item in Model.Jobs)
        {
            <a asp-controller="Home" asp-action="JobPage" asp-route-id="@item.JobId">
                <div class="recruiter-company_body_jobs_element">
                    <h3>@item.CompanyName</h3>
                    <h4>@item.JobTitle</h4>
                    <div>
                        <div><span>@item.JobContract</span></div>
                        <div><span>@item.JobLocation</span></div>
                    </div>
                    <div><span>@item.PublicationTime</span></div>
                </div>
            </a>
        }
    </div>
</div>